{% extends "layout.html" %}
<link rel="stylesheet" href="http://me.point.services/meet/meet.css">

{% block body %}




{% if session['language'] == 'he' %}
<div id = "login_container">
<a href="{{url_for('loginWithFacebook')}}"><img src = "{{url_for('static', filename='facebook1.png')}}" height=100px style=" height: 40px;" ></a>
<a href="{{url_for('loginWithGoogle')}}"><img src = "{{url_for('static', filename='google1.png')}}" height=60px style="max-height: 39px;"></a>
</br>
</br>

<form action="{{ url_for('login') }}" method = 'post'>
  <input class="email" type="text" name="email" placeholder="כתובת אימייל"><br><br>
  <input  class="password"type = "password" name = "password" placeholder="סיסמה"><br></br>
  <input  class="submit" type="submit" value="Login" id="submit">
</form>
 <p class="black"><a  class="black" href="{{url_for('forgotPassword')}}">?שכחת את הסיסמא</a></p>
<p class="black">?אין לך חשבון <br>  <a class="black" href="{{url_for('signup')}}">!צור אחד כאן</a></p>
</div>

{%elif session['language'] == 'ar' %}

<div id = "login_container">
<a href="{{url_for('loginWithFacebook')}}"><img src = "{{url_for('static', filename='facebook1.png')}}" height=100px style=" height: 40px;"></a>

<a href="{{url_for('loginWithGoogle')}}"><img src = "{{url_for('static', filename='google1.png')}}" height=60px style="
    max-height: 39px;"></a>
</br>
</br>
<form action="{{ url_for('login') }}" method = 'post'>
  <input  class="email" type="text" name="email" placeholder="البريد الإلكتروني"><br><br>
  <input  class="password" type = "password" name = "password" placeholder="كلمة السر"><br></br>
  <input class="submit"  type="submit" value="Login" id="submit">
</form>
 <p class="black"><a class="black" href="{{url_for('forgotPassword')}}">نسيت كلمة المرور ؟</a></p>
<p class="black">ليس لديك حساب ؟  <br>   <a class="black"  href="{{url_for('signup')}}">إعمل حساب هنا</a></p>
</div>

{%else%}

<div id = "login_container">

<a href="{{url_for('loginWithFacebook')}}"><img src = "{{url_for('static', filename='facebook1.png')}}" height=100px  style=" height: 40px;"></a>

<a href="{{url_for('loginWithGoogle')}}"><img src = "{{url_for('static', filename='google1.png')}}" height=60px style="max-height: 39px;"></a>
</br>
</br>
<form action="{{ url_for('login') }}" method = 'post'>
  <input  class="email" type="text" name="email"placeholder="Email Address"><br><br>
  <input  class="password" type = "password" name = "password" placeholder="Password"><br></br>
  <input  class="submit" type="submit" value="Login" id="submit">
</form>
 <p><a class="black" href="{{url_for('forgotPassword')}}">Forgot your password?</a></p>

<p class="black">Don't have an account?<br>  <a class="black" href="{{url_for('signup')}}">Create one here!</a></p>





</div>



{%endif%}

 {%endblock%}

