{% extends "layout.html" %}
{% block body %}

{%if session['language'] == 'he' %}

<p> אנא הכנס את כתובת האימייל שלך על מנת לאפס את סיסמתך </p>

<form action = "{{url_for('forgotPassword')}}" method = 'post'>

	<input type="email" name="email">
	<input type="submit" value = "שלח">

</form>

{%elif session['language'] == 'ar' %}

<p> من فضلك قم بإدخال بريدك الإلكتروني حتى تقوم بإعادة ضبط كلمة السر </p>

<form action = "{{url_for('forgotPassword')}}" method = 'post'>

	<input type="email" name="email">
	<input type="submit" value = "أرسل">

</form>


{% else %}

<p> Please enter your email address to reset your password. </p>

<form action = "{{url_for('forgotPassword')}}" method = 'post'>

	<input type="email" name="email">
	<input type="submit" value = "Reset Password">

</form>

{%endif%}
{%endblock%}