{% extends "layout.html" %}
{% block body %}

{% if session['language'] == 'he' %}
<h1> היי {{user.first_name}}, </h1>
<h2> :אפס את סיסמתך להלן </h2>

<form action = "{{url_for('resetPassword', email = user.email|string )}}", method = 'post'>

<p>:קוד ווידוא</p>
  <input type="text" name="code"><br>

 <p>:סיסמא</p>
  <input type="password" name="password"><br>
 <p>:וודא סיסמא<br></p>
  <input type="password" name="verify_password"><br>

  

   <input type="submit" value="שלח">


</form>

{% elif session['language'] == 'ar' %}

<h1> مرحبا {{user.first_name}}, </h1>
<h2> :قم بإعادة ضبط كلمة السر في الأسفل  </h2>

<form action = "{{url_for('resetPassword', email = user.email|string )}}", method = 'post'>

<p>:كود التفعيل</p>
  <input type="text" name="code"><br>
<p>:كلمة السر</p>
  <input type="password" name="password"><br>
 <p>:أكد كلمة السر</p>
  <input type="password" name="verify_password"><br>

  

   <input type="submit" value="أرسل">


</form>
{%else%}
<h1> Hi {{user.first_name}}, </h1>
<h2> Reset your password below: </h2>

<form action = "{{url_for('resetPassword', email = user.email|string )}}", method = 'post'>

<p>Verification Code :</p>
  <input type="text" name="code"><br>

 <p>Password:</p>
  <input type="password" name="password"><br>
 <p>Verify Password:</p>
  <input type="password" name="verify_password"><br>

  

   <input type="submit" value="Sign Up">


</form>

{%endif%}
{%endblock%}